Repository yabash247/Auth_Template, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backend-dev-team, @frontend-team, @yabash247

Remove old accounts app before linking submodule
  accounts/__init__.py
  accounts/adapters.py
  accounts/admin.py
  accounts/apps.py
  accounts/forms.py
  accounts/migrations/0001_initial.py
  accounts/migrations/0002_user_deleted_at_user_is_disabled_user_is_locked_and_more.py
  accounts/migrations/0003_lockoutpolicy_user_failed_attempts_and_more.py
  accounts/migrations/0004_alter_lockoutpolicy_name_and_more.py
  accounts/migrations/0005_user_delete_requested_at_user_is_suspended_and_more.py
  accounts/migrations/0006_user_last_reauth_at.py
  accounts/migrations/0007_remove_backupcode_code_hash_backupcode_code_emailotp_and_more.py
  accounts/migrations/0008_authrequestlog.py
  accounts/migrations/0009_alter_authrequestlog_options_authrequestlog_action_and_more.py
  accounts/migrations/0010_authpolicy.py
  accounts/migrations/0011_authpolicy_unique_user_auth_policy.py
  accounts/migrations/0012_rename_delete_account_policy_authpolicy_applicable_methods_and_more.py
  accounts/migrations/0013_securityphrase.py
  accounts/migrations/__init__.py
  accounts/models.py
  accounts/policy.py
  accounts/serializers.py
  accounts/signals.py
  accounts/tokens.py
  accounts/urls.py
  accounts/utils.py
  accounts/utils/security.py
  accounts/views.py
  accounts/views_admin.py
  accounts/views_webauthn.py
Owners: @yabash247

Added accounts app as Git submodule
  .gitmodules
Owners: none

Remove embedded config for submodule conversion
  config/__init__.py
  config/asgi.py
  config/settings/__init__.py
  config/settings/auth.py
  config/settings/base.py
  config/settings/dev.py
  config/settings/email_sms.py
  config/settings/logging.py
  config/settings/prod.py
  config/settings/security.py
  config/settings/staging.py
  config/urls.py
  config/wsgi.py
Owners: @yabash247

Add config as Git submodule
  .gitmodules
Owners: none

Remove embedded organizations app
  organizations/__init__.py
  organizations/admin.py
  organizations/apps.py
  organizations/migrations/0001_initial.py
  organizations/migrations/__init__.py
  organizations/models.py
Owners: none

Add organizations app as submodule
  .gitmodules
Owners: none

Remove embedded users app
  users/__init__.py
  users/admin.py
  users/apps.py
  users/migrations/0001_initial.py
  users/migrations/__init__.py
  users/models.py
  users/permissions.py
  users/serializers.py
  users/signals.py
  users/tests.py
  users/urls.py
  users/views.py
Owners: none

Add users app as Git submodule
  .gitmodules
Owners: none

update
  setup_dev.ps1
Owners: none

deleted unwanted
  frontend/App.jsx
  frontend/LoginPage.jsx
  frontend/README.md
  frontend/components/ResendVerification.jsx
  frontend/index.html
  frontend/main.jsx
  postman.py
  templates/base.html
  templates/emails/magic.txt
  templates/emails/magic_link.html
  templates/emails/magic_link.txt
  templates/emails/reset.txt
  templates/emails/verification.txt
  templates/emails/verify_email.html
  templates/emails/verify_email.txt
  templates/registration/login.html
  ~Guide/Expected Behaviour.docx
  ~Guide/api.txt
  ~Guide/🧩 API VIEW REFERENCE.docx
  ~json_files/AdaptiveAuthPolicy_Test.postman_collection.json.json
  ~json_files/django_auth_full_collection.json
  ~json_files/django_auth_full_collection_fixed.json
  ~json_files/django_auth_full_collection_with_email.json
  ~json_files/postman_auth_template.json
Owners: @frontend-team

fixed list scrimmage issue
  scrimmages/serializers.py
  scrimmages/views.py
Owners: none

media updated for scrimmages
  scrimmages/admin.py
  scrimmages/models.py
  scrimmages/serializers.py
Owners: none

payments app updated
  payments/admin.py
  payments/migrations/0003_creditwallettransaction.py
  payments/models.py
  payments/serializers.py
  payments/urls.py
  payments/utils.py
  payments/views_history.py
  payments/views_transactions.py
  payments/views_webhooks.py
  payments/views_webhooks_paypal.py
  scrimmages/admin.py
  scrimmages/migrations/0005_scrimmage_payment_options_and_more.py
  scrimmages/models.py
  scrimmages/serializers.py
  scrimmages/views.py
Owners: none

.github/CODEOWNERS:

# Backend - only backend devs can touch backend APIs
backend/api/*            @backend-dev-team

# Frontend - frontend team owns all React components
frontend/*               @frontend-team

# Authentication & Security - only you (owner)
accounts/*               @yabash247
config/*                 @yabash247
.env                     @yabash247

# Shared utilities - both backend and frontend teams
shared/*                 @backend-dev-team @frontend-team
